<!DOCTYPE html>
<html lang="es">
{{>Head}}
<body>
  <h2 class="mb-2">Usuarios registrados</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Validado</th>
    </tr>
  </thead>
  <tbody id="cuerpo">
    {{#each usuarios}}
    <tr>
      <td>{{@index}}</td>
      <td>{{this.nombre}}</td>
      <td>{{this.email}}</td>
      <td><input type="checkbox" {{#if this.auth}} checked {{/if}} onclick="changeStatus({{this.id}}, this)"></td>
    </tr>
    {{/each}}
  </tbody>
</table>


{{!-- MIS SCRIPTS --}}
    <script src="/assets/js/script.js"></script>
</body>
</html>

